<!--<div class="modal">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title pull-left"></h4>-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <div class="card" style="min-height: 200px">


          <div *ngIf="movie">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    {{ movie.title }}
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-5">
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="img-fluid"
                             alt="{{ movie.title }}">
                      </div>
                      <div class="col-sm-7">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <strong>Release Date: </strong> {{ movie.release_date | date:'dd-MM-yyyy' }}
                          </li>
                          <li class="list-group-item">
                            <strong>Tagline: </strong> {{ movie.tagline }}
                          </li>
                          <li class="list-group-item">
                            <strong>Summary: </strong> {{ movie.overview }}
                          </li>
                          <li class="list-group-item">
                            <strong>Runtime: </strong> {{ movie.runtime }}
                          </li>
                          <li class="list-group-item">
                            <strong>Budget: </strong> {{ movie.budget }}
                          </li>
                          <li class="list-group-item">
                            <strong>Genre: </strong>
                            <span *ngFor="let genre of movie.genres" class="badge badge-primary mr-2">
                      {{ genre.name }}
                    </span>
                          </li>
                          <li class="list-group-item">
                            <a href="{{ movie.homepage }}" target="_blank">
                              Movie Homepage
                            </a>
                            <a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank"
                               class="btn btn-sm btn-info float-right">
                              IMDB Link
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div><!-- /.card -->
              </div>
            </div>
          </div>
        </div>





<!--<div class="modal" id="myModal">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->

      <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Modal Heading</h4>-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--</div>-->

      <!--&lt;!&ndash; Modal body &ndash;&gt;-->
      <!--<div class="modal-body">-->
        <!--Modal body..-->
      <!--</div>-->

      <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
  <!--Open modal-->
<!--</button>-->
