<div class="topnav">
  <a href="#home">Home</a>
  <a [routerLink]="'/about'" >About</a>
  <div class="search-container">
    <form>
      <input type="text" placeholder="search movies.." name="movie" class="form-control" [(ngModel)]="searchMovie">
      <input type="submit" value="submit" class="btn btn-outline-info" (click)="searchMovies()">
    </form>
  </div>
</div>


<div class="container">



  <hr>
  <div class="container">
    <header class="section-header">
      <h3> Search results..</h3>
    </header>
    <div class="row">
      <div class="col-sm-3 col-md-3" *ngFor="let search of search_result; let i = index ">
        <div *ngIf="i < 5">
<div class="card">
  <div class="card-header text-center">
    {{ search.release_date | date:'mediumDate' }}
  </div>
  <div class="card-body">
    <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ search.poster_path }}" alt="{{ search.original_title }}" style="height: 460px">
    <p class="text-center">{{ search.original_title }}</p>
    <a routerLink="/movies/{{ search.id}}" class="btn btn-block btn-info">Movie Details</a>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3>Upcoming movies</h3>
    </div>
  </div>
    <div class="row">
      <div  class="col-sm-3 col-md-3" *ngFor="let upcoming of upcoming_movies; let i = index">
        <div *ngIf="i < 30">
          <div class="card">
            <div class="card-header text-center">
              {{ upcoming.release_date | date:'mediumDate' }}
            </div>
            <div class="card-body">
              <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.original_title }}" style="height: 460px">
              <p class="text-center">{{ upcoming.original_title }}</p>
              <a routerLink="/movies/{{ upcoming.id}}" class="btn btn-block btn-info">Movie Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3> Popular Movies</h3>
    </div>
    <div class="row">
      <div  class="col-sm-3 col-md-3" *ngFor="let popular of popular_movies; let i = index">
        <div *ngIf="i < 9">
          <div class="card">
            <div class="card-header text-center">
              {{ popular.release_date | date:'mediumDate' }}
            </div>
            <div class="card-body">
              <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" alt="{{ popular.original_title }}" style="height: 460px">
              <p class="text-center">{{ popular.original_title }}</p>
              <a routerLink="/movies/{{ popular.id}}" class="btn btn-block btn-info">Movie Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---->
    <!--the modal box-->





  </div>
  </div>



<app-footer></app-footer>
